<h2 class="title is-2"><%= @publisher.name %></h2>

<article class="message is-dark">
  <div class="message-header">
    <p>Description</p>
  </div>
  <div class ="message-body">
  This game publisher released <%= @publisher.games.count %> of the top-selling games.
  </div>
</article>

<ul>
  <% @publisher.games.each do |game| %>
    <li>
      <%= link_to game.name, game %> <!--on --> <%#= link_to @game.platform.name, @game.platform %> with <%= game.Global_sales %> millions worldwide sales.
    </li>
  <% end %>
</ul>